.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.answerOptions {
  /*background-color: rgb(52, 2, 252, 0.2);*/
}
.answerOption {
  list-style-type: none;
  text-align: left;
  width: auto;
  height: 40px;
  margin: 3px;
  margin-bottom: 1em;
  padding: 15px;
}
li:nth-child(odd){
  background: #ccc;
}
li:nth-child(even){
  background: #fff;
}
